/*     RESET     */
::after,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  background-color: #f1f1f1;
}

/*     Global     */

.flux {
  padding: 0px 30px;
}

.layout {
  min-height: 100vh;
  color: #212529;
}

.title {
  color: #212529;
  text-align: center;
  padding-top: 60px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
}

a {
  text-decoration: none !important;
}

p {
  text-align: justify;
  padding: 10px;
}

h3 {
  color: #212529;
  text-align: center;
}

/* Accueil */

.layout-img img {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.layout-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
}

/* Sport Grid */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: auto;
}

/* Footer */

footer {
  background-color: #212529;
  padding: 20px;
}

path {
  color: #f1f1f1;
}

footer p {
  text-align: center;
  color: #f1f1f1;
}
