/*     RESET     */
::after,
::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  background-color: #f1f1f1;
}

/*     Global     */

.flux {
  margin: 30px;
}

.layout {
  min-height: 100vh;
  color: #f1f1f1;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Accueil */

.layout-img img {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.layout-title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}
